html {
  width: 100%;
  height: 100%;
}
body {
  padding:0;
  margin:0;
  width:100%;
  min-height:100%;

  font-family: "proxima-nova",sans-serif;
  font-size: 14px;
  background-color: #0f212e;
}

.roulette-container {
  max-width: 1000px;
  margin:auto;
  overflow:hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.roll {
  margin: 10px -30px;
  /* background-color: #000; */
  box-shadow: 0 0 15px 6px rgb(0 0 0 / 50%);
  padding: 2px;
  position: relative;
}
.number_mark {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 1px;
  content: "";
  background-color: #adbec6;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}
.number_mark:before, .number_mark:after {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  content: "";
  left: 50%;
}
.number_mark:before {
  border-bottom: 15px solid #adbec6;
  top: 100%;
  transform: translateX(-50%);
  margin-top: -7px;
}
.number_mark:after {
  border-top: 15px solid #adbec6;
  bottom: 100%;
  transform: translateX(-50%) translateY(7px);
}
.numbers {
  white-space: nowrap;
}
.number {
  width: 95px;
  height: 80px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  font-size: 24px;
  color: #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  -moz-transition: transform .4s ease-out;
  -o-transition: transform .4s ease-out;
  -webkit-transition: transform .4s ease-out;
  -ms-transition: transform .4s ease-out;
}

.number.red, .entry_btn.red {
  background: #ff7a7b;
  background: -moz-linear-gradient(top,#ff7a7b 0%,#ff7a7b 40%,#ff5959 40%,#ff5959 40%,#ff5959 100%);
  background: -webkit-linear-gradient(top,#ff7a7b 0%,#ff7a7b 40%,#ff5959 40%,#ff5959 40%,#ff5959 100%);
  background: linear-gradient(to bottom,#ff7a7b 0%,#ff7a7b 40%,#ff5959 40%,#ff5959 40%,#ff5959 100%);
}

.number.black, .entry_btn.black {
  background: #333;
  background: -moz-linear-gradient(top,#333333 0%,#333333 40%,#000000 40%,#000000 40%,#000000 100%);
  background: -webkit-linear-gradient(top,#333333 0%,#333333 40%,#000000 40%,#000000 40%,#000000 100%);
  background: linear-gradient(to bottom,#333333 0%,#333333 40%,#000000 40%,#000000 40%,#000000 100%);
}

.number.green, .entry_btn.green {
  background: #3fe694;
  background: -moz-linear-gradient(top,#3fe694 0%,#3fe696 40%,#0ee07b 40%,#0ee07b 40%,#0ee07b 100%);
  background: -webkit-linear-gradient(top,#3fe694 0%,#3fe696 40%,#0ee07b 40%,#0ee07b 40%,#0ee07b 100%);
  background: linear-gradient(to bottom,#3fe694 0%,#3fe696 40%,#0ee07b 40%,#0ee07b 40%,#0ee07b 100%);
}


/* BETS */
.bets-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.bet-container {
  min-width: 300px;
  background:#394a52;
  border-radius:10px;
  color:#FFF;
}
.bet-container ul {
  list-style-type: none;
  margin:0;
  padding:0;
}
.bet-container ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.bet-stats {
  display: flex;
  justify-content: space-between;
}

.bet-stats span {
  padding: 10px;
}

.btn_bg {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.entry_btn {
  cursor:pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  box-shadow: 0 0 10px 0 rgb(34 37 39 / 70%);
  display: block;
  position: relative;
  border-radius: 6px;
}
